.topbarContainer {
    background-color: #4e5166;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 10px;
    z-index: 10;
}

li {
    list-style: none;
}

:focus {
    outline: none;
}

.topbarLeft {
    flex: 3;
}
.topbarCenter {
    flex: 5.5;
    display: flex;
    justify-content: space-around;
}
.topbarRight {
    flex: 2.5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topbarList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 70px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
}
.topbarList:hover {
    background-color: #8e94ba;
}

.topbarIcon {
    font-size: 2.3rem !important;
    color: white;
    transition: 0.5s;
}
.topbarIcon:hover {
    color: #ffd7d7;
}
.topbarNotice {
    position: absolute;
    display: none;
    padding: 4px;
    background-color: #4e5166;
    width: 100px;
    top: 100%;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    opacity: 0.9;
}
.topbarNotice:after {
    position: absolute;
}
.topbarList:hover .topbarNotice {
    display: inline;
    transition: 0.5s;
}
.logout:hover .topbarNotice {
    background-color: #fd2d01;
}
.topbarLogo {
    width: 15rem;
    margin-left: 2rem;
}
.topbarLogo2 {
    width: 40px;
    margin: 5px;
    display: none;
}

.topbarImg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.serchbar {
    width: 75%;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    display: none;
}
.searchIcon {
    margin: 10px;
    font-size: 20px;
    color: black;
}
.serchInput {
    border: none;
    width: 70%;
    font-size: 1.1rem;
}

@media screen and (max-width: 1100px) {
    /* .serchbar {
        display: none;
    } */

    .topbarLeft {
        flex: 1.5;
        display: flex;
        justify-content: center;
    }
    .topbarCenter {
        flex: 4;
    }
    .topbarRight {
        flex: 1;
    }

    .topbarList {
        width: 100px;
    }
}

@media screen and (max-width: 700px) {
    .topbarLogo {
        width: 100%;
        display: none;
    }
    .topbarLogo2 {
        display: block;
    }
    .topbarLeft {
        flex: 1;
    }
    .topbarCenter {
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .topbarRight .topbarLeft {
        flex: 0;
    }
    .topbarList {
        width: 70px;
    }
    .topbarLogo2 {
        /* width: 2rem; */
        text-align: center;
    }
}
@media screen and (max-width: 325px) {
    .topbarImg {
        display: none;
    }
}
