.topbarContainer {
    background-color: #4e5166;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 10px;
    z-index: 10;
}

li {
    list-style: none;
}

:focus {
    outline: none;
}

.topbarLeft {
    flex: 3;
}
.topbarCenter {
    flex: 4;
    display: flex;
    justify-content: space-around;
}
.topbarRight {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topbarList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 70px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
}
.topbarList:hover {
    background-color: #8e94ba;
}

.topbarIcon {
    font-size: 2.3rem !important;
    color: white;
    transition: 0.5s;
}
.topbarIcon:hover {
    color: #ffd7d7;
    transition: 0.5s;
}
.topbarNotice {
    position: absolute;
    display: none;
    padding: 4px;
    background-color: #4e5166;
    width: 60%;
    left: 20%;
    top: 100%;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    opacity: 0.9;
}
.topbarNotice:after {
    position: absolute;
}
.topbarList:hover .topbarNotice {
    display: inline;
    transition: 0.5s;
}
/* .topbarIconBadge {
 width: 15px;
  height: 15px;
  background-color: #fd2d01;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

} */
.topbarLogo {
    width: 15rem;
    margin-left: 2rem;
}

.topbarImg {
    width: 45px;
    border-radius: 50px;
    object-fit: cover;
}
.serchbar {
    width: 75%;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.searchIcon {
    margin: 10px;
    font-size: 20px;
    color: black;
}
.serchInput {
    border: none;
    width: 80%;
    font-size: 1.1rem;
}
.topbarLogout {
    width: 25%;
    height: 70px;
    margin: 0 10px;
    border-radius: 5px;
    justify-content: center;
    position: relative;
    display: flex;
    transition: 0.3s;
}
.logout {
    margin-top: 15px;
}
.topbarLogout:hover {
    background-color: #8e94ba;
}
.topbarLogout:hover .topbarNotice {
    display: inline;
    background-color: #fd2d01;
    opacity: 0.9;
}
