.comment {
    width: 80%;
    margin: 20px auto;
    background-color: #f8f8ff;
    box-shadow: -1px 2px 10px 1px #323867;
}
.commentText {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: #e6e6e6;
}
.commentInput {
    width: 95%;
    margin: 10px 0 0 10px;
    border: none;
    background-color: #e6e6e6;
}

.commentImg {
    width: 98%;
    margin: 20px auto;
    border-radius: 15px;
}
.commentHr {
    width: 100%;
}

@media screen and (max-width: 380px) {
    .comment {
        width: 100%;
    }
}
@media screen and (max-width: 310px) {
    .commentOptions {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
