.comment {
    width: 80%;
    margin: 20px auto;
    background-color: #f8f8ff;
}
.commentText {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: #e6e6e6;
}
.commentInput {
    width: 95%;
    margin: 10px 0 0 10px;
    border: none;
    background-color: #e6e6e6;
}
